.vscode/settings.json
build/.cmake/api/v1/reply/index-2024-11-16T15-37-39-0894.json
build/.cmake/api/v1/reply/index-2025-05-16T09-23-45-0871.json
build/CMakeFiles/BattleShips.dir/compiler_depend.make
